<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d][%-75.75logger][%-5.5level][%-25.25thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_HOME" value="/var/log/redmond" />
    <property name="LOGFILE_NAME" value="invoicesapi" />
    <property name="MAX_DAYS" value="30" />

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOGFILE_NAME}.log</file>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${LOGFILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${MAX_DAYS}</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>[%d][%-50.50logger][%-5.5level][%-25.25thread] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework">
        <level value="info" />
    </logger>
    <logger name="org.hibernate">
        <level value="info" />
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="console" />
<!--         <appender-ref ref="file" /> -->
    </root>

</configuration>
